absl-py==0.9.0
alabaster==0.7.12
altgraph==0.17
asgiref==3.3.1
astor==0.8.1
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
betago==0.2
catkin-pkg==0.4.23
causal-world==1.2
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255207413/work
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cluster==1.4.1
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1607639129468/work
cycler==0.10.0
Cython==0.29.21
Django==3.1.4
docutils==0.16
dominate==2.5.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.9
future==0.18.2
gast==0.2.2
gitdb==4.0.5
GitPython==3.1.7
gomill==0.8.3
google-pasta==0.2.0
grpcio==1.30.0
gym==0.17.3
h5py==2.10.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
imutils==0.5.3
iniconfig==1.1.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
kanren==0.2.3
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Kivy==1.11.1
kivy-deps.glew==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
kivymd==0.104.1
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
mpmath==1.1.0
multipledispatch==0.6.0
numpy==1.17.2
object-detection-0.1==0.1
opencv-contrib-python==4.5.1.48
opencv-python==4.3.0.36
opt-einsum==3.3.0
packaging==20.4
parso==0.7.1
pathtools==0.1.2
pefile==2021.5.13
Pillow==7.2.0
pluggy==0.13.1
protobuf==3.12.2
psutil==5.7.3
py==1.9.0
pybullet==2.8.5
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyDatalog==0.17.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.6.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMySQL @ file:///C:/ci/pymysql_1610464946597/work
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqt5-tools==5.15.0.1.7
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.14.0
pythonnet==2.5.1
pytz==2020.4
pywebview==3.3.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.21.3
scipy==1.5.1
sip==5.3.0
six @ file:///C:/ci/six_1605205426665/work
smmap==3.0.4
snowballstemmer==2.0.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
sympy==1.6.2
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
toml==0.10.1
toolz==0.11.1
unification==0.2.2
urllib3==1.25.9
visitor==0.1.3
watchdog==0.10.3
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
xcamera==2020.613
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
